body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    body {
        width: 40%;
    }
}

h1 {
    text-align: center;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    display: flex;
}

li label {
    cursor: pointer;
    flex-grow: 1;
}

li label input {
    margin-right: 10px;
    cursor: pointer;
}

li form {
    flex-grow: 1;
    padding-right: 4px;
    display: flex;
}

li form input {
    flex-grow: 1;
    font-size: 20px;
    border: 0;
    margin-left: 27px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.delete {
    margin-right: 10px;
}

.strikethrough {
    text-decoration: line-through;
}

button {
    cursor: pointer;
}

button.delete {
    font-size: 20px;
    background: inherit;
    border: 0px;
    border-radius: 25px;
}

button.delete:hover {
    background: #cccccc;
}
